.glyphicon-trash {
  color: firebrick;
}

.glyphicon-remove {
  color: darkorange;
}

.glyphicon-plus {
  color: forestgreen;
}

.glyphicon-info-sign {
  color: gold;
  font-size: 13px;
  padding: 0px 5px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-google-plus {
  color: #dd4b39;
}

.fa-twitter {
  color: #55acee;
}

.fa-github {
  color: white;
}
