.glyphicon-trash,
.glyphicon-share-alt {
  color: firebrick;
}

.glyphicon-plus {
  color: forestgreen;
}

.fa-facebook {
  color: #3b5998;
}

.fa-google-plus {
  color: #dd4b39;
}

.fa-twitter {
  color: #55acee;
}

.fa-github {
  color: white;
}
