$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$background-color: #1d1d1d;
$header-color: #303030;
$footer-text-color: #777;
$neon-green: #80bd01;
$menu-text-color: white;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-color: $background-color;
}

.container {
  width: 100%;
  padding: 0;
}

/* Custom page header */
.header-background {
  background-color: $header-color;

  .header {
    .navbar-collapse,
    .navbar-default,
    .navbar-toggle {
      background-color: inherit;
      border-color: $header-color;
    }

    .navbar-nav > li > a,
    .navbar-brand {
      color: $menu-text-color;
    }

    .navbar-nav > li > a:hover,
    .navbar-brand:hover {
      color: $neon-green;
    }
  }
}

/* Custom page footer */
.footer {
  border-top: 1px solid $header-color;
  color: $footer-text-color;
  padding: 10px 20px;
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .content {
    margin: 0 auto;
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header-background,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header-background {
    margin-bottom: 30px;
  }
}
