$progress-bar-height: 10px;
$border-radius: 5px;

.progress-bar {
  background-color: black;
  border-radius: $border-radius;
  height: $progress-bar-height;
  position: relative;
  width: 100%;

  .segment {
    float: left;
    height: $progress-bar-height;
  }

  .segment:first-of-type {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .segment:last-of-type {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

