<simap-help-header size="h3" label="'Home'"></simap-help-header>

<simap-help-header size="h4" label="'Overall Progress'" help-block="progressHelp"></simap-help-header>
<div class="form-group col-xs-12" ng-controller="ProgressCtrl">
  <div style="float:left">
    <label>Rations:</label>
    <span>{{rationProgress() | number:0}}%</span>
  </div>
  <div style="float:right;">
    <label>Baselines:</label>
    <span>{{baselinesMet()}}/{{totalBaselines()}}</span>
  </div>
  <simap-progress-bar items="overallProgressBarItems"></simap-progress-bar>
</div>

<simap-help-header size="h4" label="'Category Breakdown'" help-block="categoryHelp"></simap-help-header>
<div class="col-xs-12 clearfix" ng-repeat="(categoryId, category) in categories" ng-hide="empty(items[categoryId])">
  <h4>{{category.name}}</h4>
  <div class="form-group col-xs-12" ng-controller="ProgressCtrl">
    <div style="float:left">
      <label>Rations:</label>
      <span>{{rationProgress() | number:0}}%</span>
    </div>
    <div style="float:right;">
      <label>Baselines:</label>
      <span>{{baselinesMet()}}/{{totalBaselines()}}</span>
    </div>
    <simap-progress-bar items="progressBarItems[categoryId]"></simap-progress-bar>
  </div>
  <div class="clearfix form-group" ng-repeat="(itemId, item) in items[categoryId]" ng-controller="InventoryCtrl">
    <div class="clearfix">
      <div class="col-xs-12">
        <div class="pull-left">
          <span>{{item.name}}</span>
        </div>
        <div class="pull-right">
          <span>
            {{item.amount}} {{units[item.primaryUnitId].name}}
          </span>
          <a ng-click="updateInventory(item, 1)" class="hpad-10" analytics-on="click" analytics-event="Add Inventory" analytics-category="Item">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </a>
          <a ng-click="updateInventory(item, -1)" class="hpad-10" analytics-on="click" analytics-event="Remove Inventory" analytics-category="Item">
            <span class="glyphicon glyphicon-minus-sign"></span>
          </a>
        </div>
      </div>
    </div>
    <div ng-show="updatingInventory" class="update-inventory">
      <div class="clearfix col-md-5 form-group">
        <input type="number" class="form-control" ng-model="updateAmount" min="0" required/>
      </div>
      <div class="clearfix col-md-5 form-group">
        <select class="form-control" ng-model="updateUnit" ng-options="unit.name for (id, unit) in itemUnits[itemId]" required></select>
      </div>
      <div class="clearfix col-md-1 form-group text-right">
        <div class="col-xs-12 text-right form-group vpad-8">
          <a href="" ng-click="cancelUpdate()" analytics-on="click" analytics-event="Cancel Inventory Update" analytics-category="Item">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </a>
        </div>
      </div>
      <div class="clearfix col-md-1 form-group text-right">
        <simap-save-button on-save="applyUpdate(item)"></simap-save-button>
      </div>
    </div>
  </div>
</div>
