<div>
  <simap-help-header size="h3" label="'Planning'"></simap-help-header>

  <simap-help-header data-size="h4" data-label="'Family Size'" data-help-block="helpBlock"></simap-help-header>
  <!-- <div ng-controller="FamilyCtrl"> -->
  <div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="adult-count">Adults</label>
        <input type="number" ng-model="adults" class="form-control" id="adult-count" min="0" max="10"/>
      </div>
      <div class="form-group">
        <label for="child-count">Children</label>
        <input type="number" ng-model="children" class="form-control" id="child-count" min="0" max="10"/>
      </div>
    </div>
  </div>
  <div ng-controller="GoalCtrl">
    <h4>Storage Goal</h4>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="month-goal">Months - ({{preparedUntilDate}})</label>
        <input type="number" ng-model="months" ng-change="monthsChanged()" class="form-control" id="month-goal" min="1" max="60"/>
      </div>
    </div>
  </div>
</div>
