<div>
  <simap-help-header size="h3" label="'Planning'"></simap-help-header>

  <simap-help-header data-size="h4" data-label="'Family Size'" data-help-block="helpBlock"></simap-help-header>
  <form name="familyForm">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="adult-count">Adults</label>
        <input type="number" ng-model="family.adults" class="form-control" id="adult-count" min="0" max="10" required/>
      </div>
      <div class="form-group">
        <label for="child-count">Children</label>
        <input type="number" ng-model="family.children" class="form-control" id="child-count" min="0" max="10" required/>
      </div>
    </div>
  </form>

  <h4>Storage Goal</h4>
  <div class="col-xs-12">
    <form name="goalForm">
      <div class="form-group">
        <label for="month-goal">Months
          <span ng-show="goalForm.$valid"> - ({{preparedUntilDate()}})</span>
        </label>
        <input type="number" ng-model="goal.months" ng-change="goalChanged()" class="form-control" id="month-goal" min="1" max="60" required/>
      </div>
    </form>
  </div>

  <simap-save-button on-save="save()" ng-show="familyForm.$valid && goalForm.$valid"></simap-save-button>
</div>
