<div ng-repeat="(key, value) in data" class="clearfix form-group">
  <div class="col-xs-2">
    <div class="square-sm" ng-style="{ 'background-color': value.color }"></div>
  </div>
  <div class="col-xs-8">
    <a ng-click="edit({key: '{{key}}'})" analytics-on="click" analytics-event="Edit" analytics-category="List" analytics-label="{{value.name}}">
      <span>{{value.name}}</span>
    </a>
  </div>
  <div class="col-xs-2">
    <a analytics-on="click" analytics-event="Remove" analytics-category="List" analytics-label="{{value.name}}">
      <span class="glyphicon glyphicon-trash" ng-click="remove({key: '{{key}}'})"></span>
    </a>
  </div>
</div>
<div>
  <div class="col-xs-2"></div>
  <div class="col-xs-8"></div>
  <div class="col-xs-2">
    <a analytics-on="click" analytics-event="Add" analytics-category="List">
      <span class="glyphicon glyphicon-plus-sign" ng-click="add()"></span>
    </a>
  </div>
</div>
