<div ng-repeat="entity in dataArray | orderBy:'name'" ng-if="entity.name !== undefined" class="clearfix form-group">
  <div class="col-xs-2">
    <div class="square-sm" ng-style="{ 'background-color': entity.color }"></div>
  </div>
  <div class="col-xs-8">
    <a ng-click="edit({key: '{{entity.$id}}'})" analytics-on="click" analytics-event="Edit" analytics-category="List" analytics-label="{{entity.name}}">
      <span>{{entity.name}}</span>
    </a>
  </div>
  <div class="col-xs-2">
    <a analytics-on="click" analytics-event="Remove" analytics-category="List" analytics-label="{{entity.name}}">
      <span class="glyphicon glyphicon-trash" ng-click="remove({key: '{{entity.$id}}'})"></span>
    </a>
  </div>
</div>
<div>
  <div class="col-xs-2"></div>
  <div class="col-xs-8"></div>
  <div class="col-xs-2">
    <a analytics-on="click" analytics-event="Add" analytics-category="List">
      <span class="glyphicon glyphicon-plus-sign" ng-click="add()"></span>
    </a>
  </div>
</div>
