<simap-help-header size="h3" label="'Edit Item'" help-block="helpBlock"></simap-help-header>

<simap-help-header size="h4" label="'Information'" help-block="infoHelpBlock"></simap-help-header>

<div class="col-xs-12">
  <div class="form-group">
    <label for="item-name">Name</label>
    <input type="text" class="form-control" id="item-name" ng-model="item.name" placeholder="Name"/>
  </div>
  <div class="form-group">
    <label for="new-item-category">Category</label>
    <select ng-model="item.category_id" ng-options="key as category.name for (key, category) in categories" id="new-item-category" class="form-control"></select>
  </div>
  <div class="form-group">
    <label for="item-color">Color</label>
    <div colorpicker colorpicker-position="bottom" class="form-control square" ng-model="item.color" ng-style="{ 'background-color': item.color }" href=""></div>
  </div>
</div>

<simap-help-header size="h4" label="'Item Units'" help-block="unitsHelpBlock"></simap-help-header>
<div class="form-group">
  <div class="col-xs-12">
    <label>Add Units</label>
  </div>
  <div class="col-xs-12">
    <form ng-submit="addNewUnit()">
      <input type="text" class="form-control" ng-model="newUnitName" placeholder="Unit Name"/>
      <input type="submit" ng-hide="true"/>
    </form>
  </div>
</div>
<span class="spacer"></span>
<div ng-repeat="(unitId, _) in units" ng-controller="UnitCtrl" class="clearfix">
  <div ng-hide="editing">
    <div class="col-xs-10">
      <p class="hpad-10 vpad-2">
        <a ng-click="editing=!editing">{{unit.name}}</a>
      </p>
    </div>
    <div class="col-xs-2" ng-hide="item.primary_unit === unitId">
      <a ng-click="removeUnit(unitId)">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
  </div>
  <div ng-show="editing">
    <div class="col-xs-12 form-group">
      <form ng-submit="editing=!editing">
        <input type="text" class="form-control" ng-model="unit.name" ng-change="units[unitId].name = unit.name"/>
        <input type="submit" ng-hide="true"/>
      </form>
    </div>
  </div>
</div>

<div class="col-xs-12" ng-show="hasMultipleUnits()">
  <div class="form-group">
    <label for="master-unit">Select Primary Unit</label>
    <select id="master-unit" class="form-control" ng-model="item.primary_unit" ng-options="id as unit.name for (id, unit) in units" ng-change="refreshConversion()">
    </select>
  </div>
</div>

<div ng-show="hasMultipleUnits()">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Define Unit Conversions</label>
    </div>
  </div>
  <div ng-repeat="(unitId, unit) in units | simapExclude:'id':item.primary_unit" class="clearfix form-group">
    <div class="col-xs-4 text-right vpad-6 nowrap">
      <span>1 {{units[item.primary_unit].name}} =</span>
    </div>
    <div class="col-xs-4">
      <input type="number" class="form-control" ng-model="conversion[unit.id]">
    </div>
    <div class="col-xs-4 vpad-6 nowrap">
      <span>{{unit.name}}</span>
    </div>
  </div>
</div>

<simap-help-header size="h4" label="'Planning'" help-block="planningHelpBlock"></simap-help-header>
<div class="col-xs-12">
  <div class="form-group">
    <label for="planning-type">Select Planning Type</label>
    <select id="planning-type" class="form-control" ng-model="plan.type">
      <option value="ration">Rationed</option>
      <option value="baseline">Baseline</option>
    </select>
  </div>
</div>

<div ng-show="plan.type === 'ration'">
  <div class="col-xs-12">
    <label>An Adult Needs</label>
  </div>
  <div class="col-xs-4 form-group">
    <input type="number" class="form-control" ng-model="plan.adult.amount">
  </div>
  <div class="col-xs-4 form-group">
    <select class="form-control" ng-model="plan.adult.unit_id" ng-options="id as unit.name for (id, unit) in units">
    </select>
  </div>
  <div class="col-xs-4 form-group">
    <select class="form-control" ng-model="plan.adult.time">
      <option value="day">Day</option>
      <option value="week">Week</option>
      <option value="month">Month</option>
      <option value="year">Year</option>
    </select>
  </div>
  <div class="col-xs-12">
    <label>A Child Needs</label>
  </div>
  <div class="col-xs-4 form-group">
    <input type="number" class="form-control" ng-model="plan.child.amount">
  </div>
  <div class="col-xs-4 form-group">
    <select class="form-control" ng-model="plan.child.unit_id" ng-options="id as unit.name for (id, unit) in units">
    </select>
  </div>
  <div class="col-xs-4 form-group">
    <select class="form-control" ng-model="plan.child.time">
      <option value="day">Day</option>
      <option value="week">Week</option>
      <option value="month">Month</option>
      <option value="year">Year</option>
    </select>
  </div>
</div>

<div ng-show="plan.type === 'baseline'">
  <div class="col-xs-12">
    <label>Define Baseline</label>
  </div>
  <div class="col-xs-6 form-group">
    <input type="number" class="form-control" ng-model="plan.amount">
  </div>
  <div class="col-xs-6 form-group">
    <select class="form-control" ng-model="plan.unit_id" ng-options="id as unit.name for (id, unit) in units">
    </select>
  </div>
</div>

<simap-save-button on-save="save()"></simap-save-button>
