<simap-help-header size="h3" label="'Edit Item'" help-block="helpBlock"></simap-help-header>

<simap-help-header size="h4" label="'Information'" help-block="infoHelpBlock"></simap-help-header>

<div class="col-xs-12">
  <form name="itemForm">
    <div class="form-group">
      <label for="item-name">Name</label>
      <input type="text" class="form-control" id="item-name" ng-model="item.name" placeholder="Name" required/>
    </div>
    <div class="form-group">
      <label for="item-amount">Current Inventory</label>
      <div id="item-amount">{{item.amount}} {{units[item.primaryUnitId].name}}</div>
    </div>
    <div class="form-group">
      <label for="new-item-category">Category</label>
      <select ng-model="item.categoryId" ng-options="key as category.name for (key, category) in categories" id="new-item-category" class="form-control" required></select>
    </div>
    <div class="form-group">
      <label for="item-color">Color</label>
      <div colorpicker colorpicker-position="bottom" class="form-control square" ng-model="item.color" ng-style="{ 'background-color': item.color }" href=""></div>
    </div>
  </form>
</div>

<simap-help-header size="h4" label="'Item Units'" help-block="unitsHelpBlock"></simap-help-header>
<div class="form-group">
  <div class="col-xs-12">
    <label>Add Units</label>
  </div>
  <div class="col-xs-12">
    <form ng-submit="addNewUnit()">
      <input type="text" class="form-control" ng-model="newUnitName" placeholder="Unit Name"/>
      <input type="submit" ng-hide="true"/>
    </form>
  </div>
</div>
<span class="spacer"></span>
<div ng-repeat="(unitId, unit) in units" ng-controller="UnitCtrl" class="clearfix">
  <div ng-hide="editing">
    <div class="col-xs-10">
      <p class="hpad-10 vpad-2">
        <a ng-click="startEdit()" analytics-on="click" analytics-event="Edit" analytics-category="Unit" analytics-label="{{unit.name}}">{{unit.name}}</a>
      </p>
    </div>
    <div class="col-xs-2" ng-hide="item.primaryUnitId === unitId">
      <a ng-click="removeUnit(unitId)" analytics-on="click" analytics-event="Remove" analytics-category="Unit" analytics-label="{{unit.name}}">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </div>
  </div>
  <div ng-show="editing">
    <div class="col-xs-12 form-group">
      <form ng-submit="finishEdit()">
        <input type="text" class="form-control" ng-model="editedUnitName" maxlength="16" required/>
        <input type="submit" ng-hide="true"/>
      </form>
    </div>
  </div>
</div>

<div class="col-xs-12" ng-show="hasMultipleUnits()">
  <form name="primaryUnitForm">
    <div class="form-group">
      <label for="master-unit">Select Primary Unit</label>
      <select id="master-unit" class="form-control" ng-model="item.primaryUnitId" ng-options="id as unit.name for (id, unit) in units"  analytics-on="click" analytics-event="Change Primary Unit" analytics-category="Item" required>
      </select>
    </div>
  </form>
</div>

<div ng-show="hasMultipleUnits()">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Define Unit Conversions</label>
    </div>
  </div>
  <form name="conversionsForm">
    <div ng-repeat="(unitId, unit) in units | simapExclude:item.primaryUnitId" class="clearfix form-group">
      <div class="col-xs-4 text-right vpad-6 nowrap">
        <span>1 {{units[item.primaryUnitId].name}} =</span>
      </div>
      <div class="col-xs-4">
        <input type="number" min="0" step="any" class="form-control" ng-model="conversions[item.primaryUnitId][unitId]" ng-change="updateInverse(unitId)" required>
      </div>
      <div class="col-xs-4 vpad-6 nowrap">
        <span>{{units[unitId].name}}</span>
      </div>
    </div>
  </form>
</div>

<simap-help-header size="h4" label="'Planning'" help-block="planningHelpBlock"></simap-help-header>
<form name="planningForm">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="planning-type">Select Planning Type</label>
      <select id="planning-type" class="form-control" ng-model="plan.type" ng-disabled="!planningForm.$valid" required>
        <option value="ration">Rationed</option>
        <option value="baseline">Baseline</option>
      </select>
    </div>
  </div>

  <div ng-show="plan.type === 'ration'">
    <div class="col-xs-12">
      <label>An Adult Needs</label>
    </div>
    <div class="col-xs-4 form-group">
      <input type="number" class="form-control" ng-model="plan.adult.amount" required>
    </div>
    <div class="col-xs-4 form-group">
      <select class="form-control" ng-model="plan.adult.unitId" ng-options="id as unit.name for (id, unit) in units" required>
      </select>
    </div>
    <div class="col-xs-4 form-group">
      <select class="form-control" ng-model="plan.adult.time" required>
        <option value="day">Day</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
        <option value="year">Year</option>
      </select>
    </div>
    <div class="col-xs-12">
      <label>A Child Needs</label>
    </div>
    <div class="col-xs-4 form-group">
      <input type="number" class="form-control" ng-model="plan.child.amount" required>
    </div>
    <div class="col-xs-4 form-group">
      <select class="form-control" ng-model="plan.child.unitId" ng-options="id as unit.name for (id, unit) in units" required>
      </select>
    </div>
    <div class="col-xs-4 form-group">
      <select class="form-control" ng-model="plan.child.time" required>
        <option value="day">Day</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
        <option value="year">Year</option>
      </select>
    </div>
  </div>

  <div ng-show="plan.type === 'baseline'">
    <div class="col-xs-12">
      <label>Define Baseline</label>
    </div>
    <div class="col-xs-6 form-group">
      <input type="number" class="form-control" ng-model="plan.amount" required>
    </div>
    <div class="col-xs-6 form-group">
      <select class="form-control" ng-model="plan.unitId" ng-options="id as unit.name for (id, unit) in units" required>
      </select>
    </div>
  </div>
</form>

<div class="col-xs-12" ng-show="allForms('$valid')">
  <simap-save-button on-save="save()"></simap-save-button>
</div>
