<div>
  <h3>Categories</h3>
  <hr/>
  <h4>New Category</h4>
  <form role="form" ng-submit="addCategory()">
    <div class="form-group">
      <label for="new-category-name">Name</label>
      <input type="text" class="form-control" id="new-category-name" ng-model="newCategory" autocomplete="false"/>
    </div>
    <input type="submit" ng-show="false"/>
  </form>
  <h4 ng-show="categories.length != 0">Category List</h4>
  <p class="help-block">Click a category name to edit it.</p>
  <table class="table">
    <tr ng-repeat="category in categories">
      <td>
        <form role="form" ng-show="edit" ng-submit="edit=!edit">
          <input class="form-control" type="text" value="{{category}}" ng-model="category"/>
          <input type="submit" ng-show="false"/>
        </form>
        <span ng-show="!edit" ng-click="edit=!edit">{{category}}</span>
      </td>
      <td>
        <div ng-show="!edit">
          <a ng-click="removeCategory('{{category}}')"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <div ng-show="edit">
          <a ng-click="edit = !edit"><span class="cancel-edit glyphicon glyphicon-remove"></span></a>
        </div>
      </td>
    </tr>
  </table>
</div>
