<div>
  <h3>Categories</h3>
  <hr/>
  <table class="table table-striped">
    <tr>
      <th>Category Name</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <input type="text" ng-model="newCategory"/>
      </td>
      <td>
        <a ng-click="addCategory()"><span class="glyphicon glyphicon-plus"></span></a>
      </td>
    </tr>
    <tr ng-repeat="category in categories">
      <td>
        <input ng-show="edit" type="text" value="{{category}}" ng-model="category"/>
        <span ng-show="!edit">{{category}}</span>
      </td>
      <td>
        <div ng-show="!edit">
          <a ng-click="edit = !edit"><span class="glyphicon glyphicon-pencil"></span></a>
          <a ng-click="removeCategory('{{category}}')"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <div ng-show="edit">
          <a ng-click="edit = !edit"><span class="glyphicon glyphicon-ok"></span></a>
          <a ng-click="edit = !edit"><span class="glyphicon glyphicon-share-alt"></span></a>
        </div>
      </td>
    </tr>
  </table>
</div>
