<div>
  <h3>Planning</h3>
  <hr/>
  <simap-help-header data-size="h4" data-label="'Family Size'" data-help-block="helpBlock"></simap-help-header>
  <div class="form-group">
    <label for="adult-count">Adults</label>
    <input type="number" class="form-control" id="adult-count" min="0" max="10" value="2"/>
  </div>
  <div class="form-group">
    <label for="child-count">Children</label>
    <input type="number" class="form-control" id="child-count" min="0" max="10" value="1"/>
  </div>
  <simap-help-header data-size="h4" data-label="'Storage Goal'" data-help-block="preparedUntil"></simap-help-header>
  <div class="form-group">
    <label for="month-goal">Months</label>
    <input type="number" class="form-control" id="month-goal" min="1" max="60" value="12"/>
  </div>
</div>
