<div class="login">
  <h4>Welcome</h4>
  <div class="login-icons">
    <a ng-click="loginGoogle()" analytics-on="click" analytics-event="Google" analytics-category="Login"><span class="fa fa-google-plus"></span></a>
    <a ng-click="loginFacebook()" analytics-on="click" analytics-event="Facebook" analytics-category="Login"><span class="fa fa-facebook"></span></a>
    <a ng-click="loginTwitter()" analytics-on="click" analytics-event="Twitter" analytics-category="Login"><span class="fa fa-twitter"></span></a>
    <a ng-click="loginGitHub()" analytics-on="click" analytics-event="GitHub" analytics-category="Login"><span class="fa fa-github"></span></a>
  </div>
</div>
